# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*
*/node_modules/*

# misc
.coverage
.vscode
coverage.xml


# Home Assistant configuration
config/*
!config/configuration.yaml

# Docusaurus build folder
build/*
.docusaurus/globalData.json
.docusaurus/registry.js
.docusaurus/routes.js
.docusaurus/routesChunkNames.json
node_modules
.docusaurus/docusaurus-plugin-content-docs
.docusaurus/docusaurus-plugin-content-blog
README.md
docusaurus.config.mjs
package-lock.json
custom_components
.docusaurus/docusaurus-plugin-debug
