#hide_overflow {
  overflow: hidden !important;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.cell {
  padding-top: 18px !important;
  padding-bottom: 18px !important;
}

/* Animations */

@keyframes mergeAnimation {
  0% {
    width: 55px;
  }

  40% {
    width: 55px;
  }

  60% {
    width: 0px;
  }

  100% {
    width: 0px;
  }
}

@keyframes fadeReset {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  97.5% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes chime_tts-say {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  97.5% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes media_player-play_media {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
    transform: translate(0px, 0px);
  }

  60% {
    opacity: 0;
    transform: translate(80px, 0px);
  }

  100% {
    opacity: 0;
    transform: translate(80px, 0px);
  }
}
@keyframes tts-say {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
    transform: translate(0px, 0px);
  }

  60% {
    opacity: 0;
    transform: translate(-50px, 0px);
  }

  100% {
    opacity: 0;
    transform: translate(-50px, 0px);
  }
}

@keyframes chimeAnim {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }

  5% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  40% {
    transform: translate(0, 0);
  }

  60% {
    transform: translate(16px, 0px);
  }

  90% {
    opacity: 1;
  }

  97.5% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translate(16px, 0px);
  }
}

@keyframes ttsAnim {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }

  5% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  40% {
    transform: translate(0, 0);
  }

  60% {
    transform: translate(-15px, 0px);
  }

  90% {
    opacity: 1;
  }

  97.5% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translate(-15px, 0px);
  }
}

@keyframes waveShift {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(0px, 0px);
  }
  60% {
    transform: translate(-16px, 0px);
  }
  100% {
    transform: translate(-16px, 0px);
  }
}

.soundContainer {
  margin-bottom: 30px;
  margin-top: 45px;
}

/* Merge audio animation */
.spacer {
  display: inline-block;
}

.spacer img {
  opacity: 0;
  animation: mergeAnimation 5.0s ease-out infinite;
}

.chime {
  display: inline-block;
  opacity: 1;
  animation: chimeAnim 5.0s linear infinite;
}

.tts {
  display: inline-block;
  opacity: 1;
  animation: ttsAnim 5.0s ease-out infinite;
}

.wave {
  width: 365px;
  left: calc(50% - 185px);
  position: relative;  animation: waveShift 5.0s ease-out infinite;
}

.chime p {
  font-size: 10pt;
  animation: media_player-play_media 5.0s linear infinite;
}
.tts p {
  font-size: 10pt;
  animation: tts-say 5.0s linear infinite;
}

.spacer p {
  position: absolute;
  transform: translate(-50%, -125%);
  opacity: 0;
  animation: chime_tts-say 5.0s infinite linear;
}

.lagText {
  margin-top: 36px;
}

/* Puzzle pieces animation */

@keyframes puzzleAnim {
  0% {
    opacity: 1;
  }

  97.5% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.mergeContainer {
  overflow: visible;
  position: relative;
  min-width: 330px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 0;
  }

.puzzleContainer {
  width: 175px;
  height: 175px;
  left: 50%;
  position: relative;
  transform: translate(-50%, 0px);
  animation: fadeReset 5.0s linear infinite;
  margin-bottom: 17px;
}

/* --- */

.puzzlePiece {
  position: absolute;
  width: 175px;
  height: 175px;
  left: 0px;
}

@keyframes puzzlePieceAnim1 {
  0% {
    opacity: 0;
    transform: scale(1.15);
  }

  15% {
    opacity: 0;
    transform: scale(1.15) rotate(7deg);
  }

  35% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes puzzlePieceAnim2 {
  0% {
    opacity: 0;
    transform: scale(1.15);
  }

  36% {
    opacity: 0;
    transform: scale(1.15) rotate(-4deg);
  }

  56% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes puzzlePieceAnim3 {
  0% {
    opacity: 0;
    transform: scale(1.15);
  }

  23% {
    opacity: 0;
    transform: scale(1.15) rotate(-7deg);
  }

  43% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes puzzlePieceAnim4 {
  0% {
    opacity: 0;
    transform: scale(1.15);
  }

  47% {
    opacity: 0;
    transform: scale(1.15) rotate(-5deg);
  }

  67% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes puzzlePieceAnim5 {

  0% {
    z-index: 0;
    opacity: 0;
    transform: scale(1.15);
  }

  30% {
    opacity: 0;
    transform: scale(1.15) rotate(5deg);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes puzzlePieceAnim6 {
  0% {
    opacity: 0;
    transform: scale(1.15);
  }

  40% {
    opacity: 0;
    transform: scale(1.15) rotate(-3.5deg);
  }

  60% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes puzzlePieceAnim7 {
  0% {
    opacity: 0;
    transform: scale(1.15);
  }

  33% {
    opacity: 0;
    transform: scale(1.15) rotate(6deg);
  }

  53% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes puzzlePieceAnim8 {
  0% {
    opacity: 0;
    transform: scale(1.15);
  }

  21% {
    opacity: 0;
    transform: scale(1.15) rotate(-3deg);
  }

  41% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes puzzlePieceAnim9 {
  0% {
    opacity: 0;
    transform: scale(1.15);
  }

  34% {
    opacity: 0;
    transform: scale(1.15) rotate(9deg);
  }

  54% {
    opacity: 1;
    transform: scale(1);
  }
}

.puzzleContainer> :nth-child(1) {
  animation: puzzlePieceAnim1 5.0s infinite ease-out;
}

.puzzleContainer> :nth-child(2) {
  animation: puzzlePieceAnim2 5.0s infinite ease-out;
}

.puzzleContainer> :nth-child(3) {
  animation: puzzlePieceAnim3 5.0s infinite ease-out;
}

.puzzleContainer> :nth-child(4) {
  animation: puzzlePieceAnim4 5.0s infinite ease-out;
}

.puzzleContainer> :nth-child(5) {
  animation: puzzlePieceAnim5 5.0s infinite ease-out;
}

.puzzleContainer> :nth-child(6) {
  animation: puzzlePieceAnim6 5.0s infinite ease-out;
}

.puzzleContainer> :nth-child(7) {
  animation: puzzlePieceAnim7 5.0s infinite ease-out;
}

.puzzleContainer> :nth-child(8) {
  animation: puzzlePieceAnim8 5.0s infinite ease-out;
}

.puzzleContainer> :nth-child(9) {
  animation: puzzlePieceAnim9 5.0s infinite ease-out;
}

/*******************/
/* Chime TTS Knife */
/*******************/

.knifeDiv {
  display: inline-block;
  width: 135px;
  height: 47px;
  margin-top: 90px;
  margin-bottom: 55px;
}

.bodyDiv,
.knifeBody {
  width: 100%;
  height: 100%;
  z-index: 10;
}

.knifeBody {
  position: relative;
}

.knifeChimes {
  position: absolute;
  transform: translate(calc(-50% - 21px), calc(50% - 5px)) rotate(-180deg);
  animation: chimes 5.0s ease-in-out infinite;
  filter: sepia(80%) saturate(268%) brightness(62%) hue-rotate(180deg);
}

.knifeFfmpeg {
  position: absolute;
  transform: translate(calc(-50% - 58px), calc(50% - 58px)) rotate(0deg);
  animation: ffmpeg 5.0s ease-in-out infinite;
  filter: sepia(80%) saturate(268%) brightness(62%) hue-rotate(180deg);
}

.knifeTtsPlatform {
  position: absolute;
  transform: translate(calc(-50% - 18px), calc(50% - 18px)) rotate(0deg);
  animation: tts_platform 5.0s ease-in-out infinite;
  filter: sepia(80%) saturate(268%) brightness(62%) hue-rotate(180deg);
}

.knifeSpeed {
  position: absolute;
  transform: translate(calc(-100% - 27px), 82%) rotate(180deg);
  animation: speed 5.0s ease-in-out infinite;
  filter: sepia(80%) saturate(268%) brightness(62%) hue-rotate(180deg);
}

.knifePitch {
  position: absolute;
  transform: translate(calc(-100% - 45px), 50%) rotate(180deg);
  animation: pitch 5.0s ease-in-out infinite;
  filter: sepia(80%) saturate(268%) brightness(62%) hue-rotate(180deg);
}

.knifeOffset {
  position: absolute;
  transform: translate(calc(-100% + 5px), calc(-100% + 33px)) rotate(90deg);
  animation: offset 5.0s ease-in-out infinite;
  filter: sepia(80%) saturate(268%) brightness(62%) hue-rotate(180deg);
}

@keyframes ffmpeg {
  0% {
    transform: translate(calc(-50% - 50px), calc(50% - 18px)) rotate(0deg);
  }

  17% {
    transform: translate(calc(-50% - 50px), calc(50% - 18px)) rotate(0deg);
  }

  50% {
    transform: translate(calc(-50% - 50px), calc(50% - 18px)) rotate(95deg);
  }

  85% {
    transform: translate(calc(-50% - 50px), calc(50% - 18px)) rotate(95deg);
  }

  100% {
    transform: translate(calc(-50% - 50px), calc(50% - 18px)) rotate(0deg);
  }
}

@keyframes tts_platform {
  0% {
    transform: translate(calc(-50% - 18px), calc(50% - 18px)) rotate(0deg);
  }

  20% {
    transform: translate(calc(-50% - 18px), calc(50% - 18px)) rotate(0deg);
  }

  50% {
    transform: translate(calc(-50% - 18px), calc(50% - 18px)) rotate(109deg);
  }

  85% {
    transform: translate(calc(-50% - 18px), calc(50% - 18px)) rotate(109deg);
  }

  100% {
    transform: translate(calc(-50% - 18px), calc(50% - 18px)) rotate(0deg);
  }
}

@keyframes speed {
  0% {
    transform: translate(calc(-100% - 27px), 82%) rotate(180deg);
  }

  10% {
    transform: translate(calc(-100% - 27px), 82%) rotate(180deg);
  }

  50% {
    transform: translate(calc(-100% - 27px), 82%) rotate(0deg);
  }

  85% {
    transform: translate(calc(-100% - 27px), 82%) rotate(0deg);
  }

  100% {
    transform: translate(calc(-100% - 27px), 82%) rotate(180deg);
  }
}

@keyframes pitch {
  0% {
    transform: translate(calc(-100% - 43px), calc(50% - 2px)) rotate(180deg);
  }

  15% {
    transform: translate(calc(-100% - 43px), calc(50% - 2px)) rotate(180deg);
  }

  50% {
    transform: translate(calc(-100% - 43px), calc(50% - 2px)) rotate(40deg);
  }

  85% {
    transform: translate(calc(-100% - 43px), calc(50% - 2px)) rotate(40deg);
  }

  100% {
    transform: translate(calc(-100% - 43px), calc(50% - 2px)) rotate(180deg);
  }
}

@keyframes chimes {
  0% {
    transform: translate(calc(-50% - 17px), calc(50% - 2px)) rotate(-180deg);
  }

  10% {
    transform: translate(calc(-50% - 17px), calc(50% - 2px)) rotate(-180deg);
  }

  50% {
    transform: translate(calc(-50% - 17px), calc(50% - 2px)) rotate(-16deg);
  }

  85% {
    transform: translate(calc(-50% - 17px), calc(50% - 2px)) rotate(-16deg);
  }

  100% {
    transform: translate(calc(-50% - 17px), calc(50% - 2px)) rotate(-180deg);
  }
}

@keyframes offset {
  0% {
    opacity: 0;
  }

  29% {
    opacity: 0;
  }

  30% {
    opacity: 1;
    transform: translate(calc(-100% + 5px), calc(-100% + 33px)) rotate(180deg) scale(0.95);
  }

  50% {
    transform: translate(calc(-100% + 5px), calc(-100% + 33px)) rotate(90deg) scale(1);
  }

  85% {
    transform: translate(calc(-100% + 5px), calc(-100% + 33px)) rotate(90deg);
  }

  100% {
    transform: translate(calc(-100% + 5px), calc(-100% + 33px)) rotate(180deg) scale(0.95);
  }
}