a img,
p img {
    vertical-align: middle;
}

#buyMeACoffee {
    height: 45px;
    margin-left: 5px;
}

#problemDiv {
    display: flex;
}

.travolta {
    position: relative;
    left: -59%;
    transform: translate(-50%, -26%);
}